<mat-card class="card-element">
  <mat-card-title><h1>About the project</h1></mat-card-title>
  <mat-card-content><p>This project is for analysing a host of news corpus and related information building, the current verison of the porject is in its very nascent stage.
    At only 4 days old, it runs sentiment analysis on news. Further modules planned are a product review sentiment analyzer from news, fake news detector and probably a better 
    machine learning centred scraping system, if I could pull one out.
    <br>
    The current system is implemented on the MEAN stack with Angular4 material. The analysis system currently is a 
    node sentiment AFINN-165 based system, which I look forward to update to a python's NLTK based implentation anytime soon
    and ultimately to a tensorflow implemetation. And Oh! I almost forgot the visualizations.
  </p>
  </mat-card-content>
</mat-card>