<div class="video-background">
        <div class="video-foreground">
          <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    
    <div id="vidtop-content">
    <div class="vid-info">
          <h1>News Analytics</h1>
          <p>In today's world AI has crept into the soul of all things important and the Media, is surely one thing
             that has been affected largely by it. By applying analytics on the plain old mundane NEWS, we could foray into a world of possibilities.
             This project is set to decipher a large contextual corpora of news analysis and be a major source of informed decisions.
             The Single page application is implemented on MEAN and draws intelligence from a python analysis engine.
            </p>
        <button class="headlines" (click)="onClick()" mat-button><i class="material-icons">face</i>Take me there</button>
      </div>
</div>